#header-text-8 .bg {
    background-image: url('../Leonardo_Phoenix_A_futuristic_digital_artwork_depicting_a_mode_1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity:0.75;
}#desc-img-text-3 .bg-wrap {
    background-color: #f4f5f6;
}
#gallery-3col-5 .bg-wrap {
    background-color: #f4f5f6;
}
